/* Web Page CSS Layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
  
  /* Header (container) */
  header {
    background-color: #003366;
    grid-area: header;
  }
  
  /* Header text */
  .header-content {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 0.8em;
  }
  
  /* Navigation inside header */
  nav {
    background-color: black;
  }
  
  nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 15px 0;
    display: inline-block;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: orangered;
  }
  
  /* Main and Aside using CSS Grid */
  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-area: main;
  }
  
  /* Main Content */
  .card {
    background-color: white;
    
    color: black;
    padding: 20px;
  }
  
  /* Aside Content */
/*  .aside-content {
    background-color: #d3d3d3;
    color: black;
    padding: 20px;
  } */
  
  /* Footer */
  footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
    grid-area: footer;
  }
  