/* Styles for screen widths 768px and up */
#menu-button {
  display: none;
}

nav {
  display: block !important;
  position: static;
  background-color: transparent;
  width: auto;
}

nav ul {
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

nav li {
  border-top: none;
}

nav a {
  padding: 0.5rem 1rem;
}

/* Grid layout for images */
.gallery {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
}
